/*
COLORS

Primary: #eb2f64
Primary light: #FF3366
Primary dark: #BA265D

Grey light 1: #faf9f9
Grey light 2: #f4f2f2
Grey light 3: #f0eeee
Grey light 4: #ccc

Grey dark 1: #333
Grey dark 2: #777
Grey dark 3: #999

*/

:root {

--color-Primary: #eb2f64;
--color-Primary-light: #FF3366;
--color-Primary-dark: #BA265D;

--color-Grey-light-1: #faf9f9;
--color-Grey-light-2: #f4f2f2;
--color-Grey-light-3: #f0eeee;
--color-Grey-light-4: #ccc;

--color-Grey-dark-1: #333;
--color-Grey-dark-2: #777;
--color-Grey-dark-3: #999;
--shadow-dark: 0 2rem 6rem rgba(0, 0, 0, .3)

}

*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}
html {
    box-sizing: border-box;
    font-size: 62.5%;
}
body {
    font-family: "Open Sans", sans-serif;
    line-height: 1.6;
    font-weight: 400;
    color: var(--color-Grey-dark-2);
    background-image: linear-gradient(to right bottom, var(--color-Primary), var(--color-Primary-dark));
    background-size: cover;
    background-repeat: no-repeat;
    min-height: 100vh;
}

.container {
    max-width: 120rem;
    min-height: 40rem;
    background-color: var(--color-Grey-light-1);
    box-shadow: var(--shadow-dark);
    margin: 8rem auto;

}

.header {
    height: 7rem;
    background-color: #fff;
    border-bottom: 1px solid var(--color-Grey-light-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
}


 /* Design Inner */

 /*******************
 * Design the header
 */

 .logo__icon {
    height: 3.25rem;
    margin-left: 2rem;
 }
 .search {
    flex: 0 0 40%;
    display: flex;
    justify-content: center;
    align-items: center;
 }
 .search__input {
    border: none;
    color: inherit;
    font-family: inherit;
    border-radius: 50rem;
    background-color: var(--color-Grey-light-2);
    width: 90%;
    padding: .7rem;
    margin-right: -3rem;
    transition: all .2s ease-out;
 }
 .search__input:focus {
     outline: none;
     width: 100%;
     background-color: var(--color-Grey-light-3);

 }
 .search__input:focus + .search__button {
    background-color: var(--color-Grey-light-3);
 }
 .search__input::-webkit-input-placeholder {
     color: var(--color-Grey-light-4);
 }
 .search__button {
    border: none;
    background-color: var(--color-Grey-light-2);
 }
 .search__button:active,
 .search__button:focus {
     outline: none;
     border: none;
 }
 .search__icon {
    height: 2rem;
    width: 2rem;
    fill: var(--color-Grey-dark-3);
    cursor: pointer;
 }
 .user__nav {
    display: flex;
    align-items: center;
    height: 100%;

 }
 .box {
     padding: 0 2rem;
     cursor: pointer;
     height: 100%;
     display: flex;
     align-items: center;
 }
 .box:hover {
     background-color: var(--color-Grey-light-2);

 }
 .user__nav-box {
    position: relative;
}
 .user__nav-icon {
    width: 2.25rem;
    height: 2.25rem;
 }
 .user__nav-notification {
    background-color: var(--color-Primary);
    font-size: .8rem;
    padding: .3rem;
    border-radius: 100px;
    color: #fff;
    position: absolute;
    top: 1.5rem;
    right: 1.8rem;
    display: flex;
    justify-content: center;
    align-items: center;

 }

 .user__photo {
    width: 4rem;
    height: 4rem;
    border-radius: 10rem;
    margin-right: 1rem;

 }
/* CONTENT SECTION*/

 .content {
    display: flex;

}
.sidebar {
    background-color: var(--color-Grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.side__bar {
    list-style: none;
    font-size: 1.4rem;
    margin-top: 3.5rem;


}
.side__bar-list {
    position: relative;

}
.side__bar-list:not(:last-child) {
    margin-bottom: 1rem;
}
.side__bar-list::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 3px;
    background-color: var(--color-Primary);
    height: 100%;
    transform: scaleY(0);
    transition: transform .3s, width cubic-bezier(0.165, 0.84, 1, 1.1) .4s .2s;
}
.side__bar-list:hover::before,
.side__bar-list--active::before {
    transform: scaleY(1);
    width: 100%;
}
.side__bar-list:active::before {
    background-color: var(--color-Primary-light);
}
.side__bar-link:link,
.side__bar-link:visited{
    text-decoration: none;
    padding: 1.5rem 3rem;
    text-transform: uppercase;
    display: block;
    color: var(--color-Grey-light-1);
    position: relative;
    display: flex;
    align-items: center;
    z-index: 10;
}
.side__bar-icon {
    height: 1.75rem;
    width: 1.75rem;
    margin-right: 1rem;
    fill: currentColor;
    z-index: 10;
}
.copyright {
    font-size: 1.2rem;
    color: var(--color-Grey-light-4);
    text-align: center;
    margin-bottom: 1rem;
}

/**************************
*HOTEL VIEWS
 */

.hotel-view {
    flex: 1;
    background-color: #fff;
}

/*GALLERY*/
.gallery {
    display: flex;
    padding: 0;
}
.gallery__image {
    width: 100%;
}
.gallery__item {
    display: flex;
}

/*OVERVIEW*/
.overview {
    display: flex;
    align-items: center;
    border-bottom: 1px solid var(--color-Grey-light-3);
    background-color: #fff;
} 
.overview__heading {
   font-size: 2.25rem;
   font-weight: 300;
   padding: 1.5rem 3rem;
   letter-spacing: 1px;
}
.overview__stars {
    margin-right: auto;
    display: flex;
    
}
.overview__icon-star,
.overview__icon-location {
    fill: var(--color-Primary);
    height: 2rem;
    width: 2rem;
}
.overview__location {
    display: flex;
    align-items: center;

}
.overview__icon-location {
    margin-right: 3px;
}
.btn__inline {
    color: var(--color-Primary);
    border: none;
    padding: 2px;
    border-bottom: 1px solid currentColor;
    background-color: transparent;
    align-self: center;
    transition: all .2s;
    cursor: pointer;
}
.btn__inline:hover {
    color: var(--color-Grey-dark-1);
}
.btn__inline:focus {
    outline: none;
    animation: beep 1s infinite;
}
@keyframes beep {
    0% {
        transform: scale(1);
        box-shadow: none;
    }
    50% {
        transform: scale(1.05);
        box-shadow: 0 2px .4rem var(--color-Grey-dark-2);
    }
    100% {
        transform: scale(1);
        box-shadow: none;
    }
}
.overview__rating {
    background-color: var(--color-Primary);
    color: #fff;
    height: 100%;
    margin-left: 1rem;
    padding: 1.3rem;
    align-self: stretch;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}
.overview__rating-average {
    font-size: 2.25rem;
    margin-bottom: -5px;
}
.overview__rating-counts {
    font-size: .8rem;
    font-weight: 600;
    text-transform: uppercase;
}

/**************************
*DETAILS
 */

.details {
    display: flex;
    background-color: var(--color-Grey-light-1);
    padding: 4.5rem;
    border-bottom: 1px solid var(--color-Grey-light-3);
}
.details__description {
    font-size: 1.4rem;
    flex: 0 0 60%;
    background-color: #fff;
    margin-right: 4.5rem;
    padding: 3rem;
    box-shadow: 0 3px 1rem rgba(0,0,0,.06);
}
.paragraph:not(:last-of-type) {
    margin-bottom: 2rem;
}
.list {
    list-style: none;
    margin: 3rem 0;
    border-top: 1px solid var(--color-Grey-light-3);
    border-bottom: 1px solid var(--color-Grey-light-3);
    padding: 3rem 0;
    display: flex;
    flex-wrap: wrap;
}
.list__item {
    flex: 0 0 50%;
    margin-bottom: .7rem;
    display: flex;
    align-items: center;
}
.list__item::before {
    content: "";
    display: inline-block;
    margin-right: 1rem;
    height: 1.4rem;
    width: 1.4rem;
    background-color: var(--color-Primary);
    mask-image: url(../img/chevron-right.svg);
    -webkit-mask-image: url(../img/chevron-right.svg);
    mask-size: cover;
    -webkit-mask-size: cover;
}
.recommend {
    font-size: 1.2rem;
    color: var(--color-Grey-dark-3);
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.recommend__photo {
    box-sizing: content-box;
    height: 4rem;
    width: 4rem;
    border-radius: 50%;
    border: 3px solid #fff;
}
.recommend__photo:not(:last-of-type) {
    margin-right: -1.5rem;
}
.details__review {
    flex: 1;

}
.user__review {
    display: flex;
    flex-direction: column;
}
.review {
    background-color: #fff;
    margin-bottom: 3.5rem;
    box-shadow: 0 2px 6px rgba(0,0,0,.06);
    padding: 3rem;
    font-size: 1.4rem;
    overflow: hidden;
    position: relative;
}
.review::before {
    content: "\201C";
    position: absolute;
    top: -2.8rem;
    left: -.9rem;
    font-family: sans-serif;
    font-size: 20rem;
    line-height: 1;
    color: var(--color-Grey-light-2);
    z-index: 1;
}
.review___text {
    z-index: 10;
    position: relative;
}
.review__user {
    margin-top: 2rem;
    display: flex;
    align-items: center;
}
.review__photo {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    margin-right: 1rem;
}
.review__user-box {
    margin-right: auto;
}
.review__user-name {
    font-size: 1.2rem;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: .4rem;

}
.review__user-date {
    font-size: 1.1rem;
    color: var(--color-Grey-dark-3);
}
.review__user-rate {
    font-weight: 300;
    font-size: 2.5rem;
    color: var(--color-Primary);
}

.btn__inline span {
    transition: margin-left .2s;
    margin-left: 3px;
}
.btn__inline:hover span {
    margin-left: 8px;
}
/*************************
*CTA
*/
.cta {
    padding: 3.5rem 0;
    text-align: center;
}
.cta__book-now {
    text-transform: uppercase;
    font-size: 2rem;
    font-weight: 300;
    margin-bottom: 1rem;
}
.btn {
    font-size: 1.5rem;
    font-weight: 300;
    text-transform: uppercase;
    border: none;
    border-radius: 100px;
    color: #fff;
    background-image: linear-gradient(to right, var(--color-Primary-light), var(--color-Primary-dark));
    position: relative;
    overflow: hidden;
}

.btn__visible {
    display: inline-block;
    padding: 2rem 7rem ;
    transition: all .5s cubic-bezier(0.6, -0.58, 0.735, 0.045);
}
.btn__invisible {
    position: absolute;
    display: inline-block;
    width: 100%;
    height: 100%;
    left: 0;
    top: -100%;
    transition: all .5s cubic-bezier(0.6, -0.58, 0.735, 0.045);
    cursor: pointer;
}
.btn:hover {
    background-image: linear-gradient(to right, var(--color-Primary-dark), var(--color-Primary-light));
    animation: beep .8s 20;
}
.btn:focus {
    outline: none;
    
}
.btn:hover .btn__invisible {
    top: 2rem;
}
.btn:hover .btn__visible {
    width: 100%;
    height: 100%;
    transform: translateY(100%);
}